<div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                        <p *ngIf="loginError">
                            <ngb-alert type="danger" [dismissible]="false"><strong>Hiba :(</strong> Hibás felhasználónév vagy jelszó!</ngb-alert>
                        </p>
                        <p *ngIf="inputError">
                            <ngb-alert type="warning" [dismissible]="false"><strong>Hiba :(</strong> Minden menző kitöltése kötelező!</ngb-alert>
                        </p>
                    <form [formGroup]="loginForm" (ngSubmit)="loginClicked()">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName="userName" required>
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName="password" required>
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                        </div>
                        <button type="submit" [disabled]="!loginForm.valid" class= "btn float-right login_btn">Login</button>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a href="#">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>