<div class="card">
        <div class="card-body">
            <div *ngIf="city"></div>
            <h5 class="card-title">{{city.name}} weather information</h5>

            <div>temperature: </div>
            <div>humidity: </div>
            <div>pressure:</div>
            <div>windspeed:</div>
            <div>wind deg:</div>
        </div>

</div>
<div class="card">
        <div class="card-body">
            <div *ngIf="city"></div>
            <h5 class="card-title">{{city.name}} 5 days weather forecast line chart</h5>
        </div>

</div>
