<div class="card">
        <div class="card-body">
            <div *ngIf="city"></div>
            <h5 class="card-title">{{city.name}} weather information</h5>

            <div>temperature: {{temperature}}</div>
            <div>humidity: {{humidity}}</div>
            <div>pressure: {{pressure}}</div>
            <div>windspeed: {{windspeed}}</div>
            <div>wind deg: {{winddeg}}</div>
        </div>

</div>
<div class="card">
        <div class="card-body">
            <div *ngIf="city"></div>
            <h5 class="card-title">{{city.name}} 5 days weather forecast line chart</h5>
        </div>

</div>
