/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
      background-image: url('city_background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      font-family: 'Numans', sans-serif;
  }
  body, input[type="text"], button {
    color: #1271ff;
    font-family: Cambria, Georgia;
  }

  /* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 4px;
  color: black;
  background-color: #1271ff;
}

nav a:hover {
  color: black;
  background-color: white;
}

  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }